.zx9speaker {
	margin-bottom: 3rem;
}

.inner {
	padding: 6rem 0 0 0;
	border-radius: 0.5rem;
	background: #d87d4a;
	display: flex;
	gap: 8.625rem;
	background: url("/assets/home/desktop/pattern-circles.svg") no-repeat -15rem -5rem,
		var(--color-accent);
	background-size: cover;
}

.zx9picture {
	width: 25.625rem;
	margin: 0 0 0 7.3125rem;
	overflow: hidden;

	> img {
		position: relative;
		top: 0.8rem;
		width: 100%;
		object-fit: cover;
	}
}

.description {
	padding-top: 2.3125rem;
}

.zx9title {
	margin-bottom: 1.5rem;
	max-width: 10ch;
}

.zx9text {
	margin-bottom: 2.5rem;
	max-width: 38ch;
}
