.goback {
	display: inline-flex;
	color: var(--color-text);
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
