.socials {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.socialsLink {
	> svg {
		width: 100%;
		height: 100%;
	}

	> svg path {
		transition: 0.2s;
	}

	&:hover {
		> svg path {
			fill: var(--color-accent);
		}
	}
}
