.featuresWrapper {
	margin-bottom: 88px;

	@media (min-width: 640px) {
		margin-bottom: 120px;
	}

	@media (min-width: 992px) {
		margin-bottom: 160px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 88px;

	@media (min-width: 640px) {
		gap: 120px;
	}

	@media (min-width: 992px) {
		flex-direction: row;
		gap: 125px;
		align-items: flex-start;
	}
}

.features {
	@media (min-width: 992px) {
		max-width: 57%;
	}
}

.featuresText {
	white-space: pre-line;
}

.title {
	margin-bottom: 24px;

	@media (min-width: 640px) {
		margin-bottom: 32px;
	}
}

.addons {
	display: flex;
	column-gap: 12px;
	flex-direction: column;
	.title {
		width: 50%;
	}

	@media (min-width: 640px) {
		flex-direction: row;
	}

	@media (min-width: 992px) {
		flex-direction: column;

		.title {
			width: unset;
		}
	}
}

.addonList {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.addon {
	display: flex;
	align-items: flex-start;
}

.addonCount {
	width: 32px;
	color: var(--color-accent);
	font-weight: bold;
}
