@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Manrope";
}

body {
	font-family: "Manrope", sans-serif;
	background-color: #fafafa;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	--color-accent: #d87d4a;
	--color-accent-light: #fbaf85;
	--color-white: #ffffff;
	--color-dark: #101010;
	--color-black: #000000;
	--color-gray: #f1f1f1;
	--color-gray-light: #fafafa;
	--color-text: rgba(0, 0, 0, 0.5);
	--color-text-light: rgba(255, 255, 255, 0.75);
	--color-text-gray: rgba(255, 255, 255, 0.5);
	--color-placeholder: rgba(0, 0, 0, 0.4);
	--color-error: #cd2c2c;
	--color-input-border: #cfcfcf;
}

input[type="radio"] {
	display: grid;
	place-content: center;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font: inherit;
	color: currentColor;
	width: 1.25rem;
	aspect-ratio: 1;
	border: 0.0625rem solid var(--color-input-border);
	border-radius: 50%;
	outline: none;

	&::before {
		content: "";
		width: 0.625rem;
		aspect-ratio: 1;
		border-radius: 50%;
		transform: scale(0);
		transition: 60ms transform ease-in-out;
		box-shadow: inset 1em 1em var(--color-accent);
	}

	&:checked::before {
		transform: scale(1);
	}

	&:disabled {
		&:checked::before {
			box-shadow: inset 1em 1em var(--color-accent-light);
		}
	}
}

.container {
	width: 100%;
	padding-inline: 24px;
	margin: 0 auto;

	@media (min-width: 768px) {
		padding-inline: 40px;
	}

	@media (min-width: 1280px) {
		padding: 0;
		max-width: 69.375rem;
	}
}

.noscroll {
	overflow: hidden;
}
