.stack {
	display: flex;
	flex-direction: column;
	margin-block: 64px 120px;
	gap: 120px;

	@media (min-width: 640px) {
		margin-block: 120px;
	}

	@media (min-width: 992px) {
		margin-block: 160px;
		gap: 160px;
	}
}
